## **Import Needed Packages**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.api as sm

from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv('/content/drive/Shareddrives/BA472/Dataset/WALMART_SALES_DATA.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

In [ ]:
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [ ]:
df.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

## **One-way ANOVA**

### Whether Quater(from Date) affects Weekly_Sales in WALMART_SALES_DATA -->NO

In [ ]:
from scipy.stats import f_oneway
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.formula.api import ols
from statsmodels.graphics.factorplots import interaction_plot
import matplotlib.pyplot as plt

In [ ]:
from scipy.stats import f_oneway
#from statsmodels.stats.multicomp import pairwise_tukeyhsd
import pandas as pd
import numpy as np
from scipy.stats import f_oneway

In [ ]:
#Level by quaters
df['quater with year'] = pd.PeriodIndex(df.Date, freq='Q')
df['quater']=df['quater with year'].dt.quarter
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,quater with year,quater
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106,2010Q2,2
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106,2010Q4,4
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106,2010Q1,1
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106,2010Q1,1
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106,2010Q2,2

In [ ]:
df_quater1=df[df.quater==1]
# df_quater1=df_quater1["Weekly_Sales" ]
df_quater2=df[df.quater==2]
# df_quater2=df_quater2["Weekly_Sales" ]
df_quater3=df[df.quater==3]
# df_quater3=df_quater3["Weekly_Sales" ]
df_quater4=df[df.quater==4]
# df_quater4=df_quater4["Weekly_Sales" ]
# #df_quater1.transpose()

In [ ]:
# OneWayAnovaTestStats, OneWayAnovaPVal=f_oneway(df_quater1,
#                                                df_quater2,
#                                                df_quater3,
#                                                df_quater4)

# print("P value is", OneWayAnovaPVal)
# Siglevel=0.05
# if OneWayAnovaPVal<=Siglevel:
#     print("We reject H0. There exists a difference in the weekly sales level for different quater.")
# else:
#     print("We do not reject H0. We cannot conclude that there exists a difference in the weekly sales level for different quater.")

In [ ]:
store=["Quater"]
quater1=["quater 1"]
quater2=["quater 2"]
quater3=["quater 3"]
quater4=["quater 4"]
for i in range(1,46):
  rand=i
  store.append("store {}".format(rand))
  df_quater1_loc=df_quater1[df_quater1.Store==rand]
  df_quater1_loc_ws=df_quater1_loc.Weekly_Sales
  avg_df_quater1_loc_ws=np.mean(df_quater1_loc_ws)
  quater1.append(avg_df_quater1_loc_ws)

  df_quater2_loc=df_quater2[df_quater2.Store==rand]
  df_quater2_loc_ws=df_quater2_loc.Weekly_Sales
  avg_df_quater2_loc_ws=np.mean(df_quater2_loc_ws)
  quater2.append(avg_df_quater2_loc_ws)


  df_quater3_loc=df_quater3[df_quater3.Store==rand]
  df_quater3_loc_ws=df_quater3_loc.Weekly_Sales
  avg_df_quater3_loc_ws=np.mean(df_quater3_loc_ws)
  quater3.append(avg_df_quater3_loc_ws)

  df_quater4_loc=df_quater4[df_quater4.Store==rand]
  df_quater4_loc_ws=df_quater4_loc.Weekly_Sales
  avg_df_quater4_loc_ws=np.mean(df_quater4_loc_ws)
  quater4.append(avg_df_quater4_loc_ws)

print(quater1)
print(quater2)
print(quater3)
print(quater4)


oneway_list=[quater1,quater2,quater3,quater4]
oneway_df=pd.DataFrame(oneway_list,columns=store)
oneway_df

['quater 1', 1531167.5454545452, 1884425.1612121211, 400418.2678787879, 2040442.503939394, 314124.56606060604, 1527435.466060606, 570285.8336363636, 890111.3151515152, 531916.5348484848, 1880683.6087878789, 1328714.6412121214, 1000360.6315151515, 1916572.4278787877, 1953027.27, 586979.1448484849, 500731.95969696966, 839213.6669696969, 1025351.2051515152, 1383126.6587878787, 2047098.5848484847, 733804.8645454546, 977097.5615151515, 1298526.0312121212, 1276944.156666667, 667631.2960606061, 937757.6072727274, 1678551.84, 1324501.4684848485, 511504.9157575757, 435242.5927272728, 1370191.9287878787, 1115297.5096969698, 251164.6815151515, 944361.1881818182, 857838.3684848485, 369589.5509090909, 519764.0618181819, 386922.2924242424, 1379898.6836363636, 917602.4933333334, 1181164.7063636365, 541967.503030303, 624226.1406060606, 297785.5748484849, 761759.5490909091]
['quater 2', 1558620.9192307692, 1911925.4320512826, 402844.06999999995, 2054874.5825641032, 320594.1579487179, 1571690.3433333335, 520234.7697435896, 899855.6112820514, 545230.6941025642, 1846898.3525641025, 1348216.3548717948, 1001578.4525641027, 1981071.4099999995, 2050878.5802564102, 619770.6528205129, 482021.3005128205, 903453.0228205129, 1088240.464871795, 1431813.3458974357, 2089054.2153846151, 738287.6866666666, 1021506.3597435895, 1371547.5312820512, 1346858.7356410255, 705032.0776923076, 988409.346153846, 1771539.7071794872, 1343092.9646153843, 537696.6915384616, 447674.70512820524, 1384883.47025641, 1150529.9533333334, 266117.5453846154, 960263.8243589745, 924969.6856410257, 384371.85410256416, 524018.3966666667, 391164.0966666667, 1425568.3364102563, 963358.7441025642, 1255632.3184615385, 557478.1148717948, 641734.0758974358, 304009.2666666666, 786886.3833333335]
['quater 3', 1509185.987368421, 1842630.9902631578, 386671.85578947375, 2038086.3673684208, 305675.22710526315, 1510222.917105263, 586281.8994736843, 878361.5868421053, 520007.9368421052, 1798096.107105263, 1318071.8349999995, 956018.9968421052, 1960959.683157895, 1932410.6239473682, 597099.0868421053, 536308.6813157893, 907022.0239473684, 1044418.2347368421, 1416138.0747368417, 2023947.075, 727299.0539473683, 995847.1044736842, 1380424.5863157895, 1357994.6031578947, 685914.225, 1021137.6715789472, 1765055.604736842, 1261842.2578947372, 514280.24684210535, 429402.58789473685, 1362777.36, 1148287.7147368423, 260537.74157894737, 932912.1284210527, 896376.0686842107, 368018.45842105267, 513617.4826315789, 385771.04894736846, 1446543.1986842104, 962550.2060526315, 1275088.2221052633, 557260.107631579, 636572.4326315789, 305386.50578947365, 743538.1789473684]
['quater 4', 1628454.4387878787, 2079131.5509090908, 423287.363030303, 2261271.517272727, 333052.9524242424, 1656556.5460606061, 612453.7706060606, 972890.8663636363, 582171.9596969696, 2096923.241818182, 1437819.2748484851, 1087425.6903030304, 2166441.2342424244, 2155580.0936363637, 694016.7084848486, 562112.4278787879, 920805.5460606059, 1186329.4966666666, 1555688.3342424242, 2286679.876060606, 832476.8048484848, 1125772.4557575758, 1513720.3278787879, 1446835.712121212, 771768.3278787879, 1064218.0827272725, 1887925.593939394, 1370439.4151515153, 598456.7193939395, 441735.38545454544, 1472775.0554545454, 1257843.2424242427, 260386.93999999997, 1035905.8715151515, 1002299.9263636365, 370925.9412121212, 518071.0445454545, 378075.4890909092, 1555850.8860606062, 1013379.6563636364, 1361832.930909091, 568584.6745454544, 628745.1930303031, 303185.3106060606, 858007.7742424243]

,Quater,store 1,store 2,store 3,store 4,store 5,store 6,store 7,store 8,store 9,...,store 36,store 37,store 38,store 39,store 40,store 41,store 42,store 43,store 44,store 45
0,quater 1,1.531168e+06,1.884425e+06,400418.267879,2.040443e+06,314124.566061,1.527435e+06,570285.833636,890111.315152,531916.534848,...,369589.550909,519764.061818,386922.292424,1.379899e+06,9.176025e+05,1.181165e+06,541967.503030,624226.140606,297785.574848,761759.549091
1,quater 2,1.558621e+06,1.911925e+06,402844.070000,2.054875e+06,320594.157949,1.571690e+06,520234.769744,899855.611282,545230.694103,...,384371.854103,524018.396667,391164.096667,1.425568e+06,9.633587e+05,1.255632e+06,557478.114872,641734.075897,304009.266667,786886.383333
2,quater 3,1.509186e+06,1.842631e+06,386671.855789,2.038086e+06,305675.227105,1.510223e+06,586281.899474,878361.586842,520007.936842,...,368018.458421,513617.482632,385771.048947,1.446543e+06,9.625502e+05,1.275088e+06,557260.107632,636572.432632,305386.505789,743538.178947
3,quater 4,1.628454e+06,2.079132e+06,423287.363030,2.261272e+06,333052.952424,1.656557e+06,612453.770606,972890.866364,582171.959697,...,370925.941212,518071.044545,378075.489091,1.555851e+06,1.013380e+06,1.361833e+06,568584.674545,628745.193030,303185.310606,858007.774242

In [ ]:
OneWayAnovaTestStats, OneWayAnovaPVal=f_oneway(quater1[1:],
                                               quater2[1:],
                                               quater3[1:],
                                               quater4[1:])

print("P value is", OneWayAnovaPVal)
Siglevel=0.05
if OneWayAnovaPVal<=Siglevel:
    print("We reject H0. There exists a difference in the total weekly sales level for different quater.")
else:
    print("We do not reject H0. We cannot conclude that there exists a difference in the total weekly sales level for different quater.")

P value is 0.7883833518200324
We do not reject H0. We cannot conclude that there exists a difference in the total weekly sales level for different quater.

### Whether Order Priority affects Profit in WALMART_SALES_DATA.csv -->NO

In [ ]:
Retail = pd.read_csv('/content/drive/Shareddrives/BA472/Dataset/Walmart_Retail_Dataset.csv')
Retail.head()

,City,Customer Age,Customer Name,Customer Segment,Discount,Number of Records,Order Date,Order ID,Order Priority,Order Quantity,...,Profit,Region,Row ID,Sales,Ship Date,Ship Mode,Shipping Cost,State,Unit Price,Zip Code
0,McKeesport,NaN,Jessica Myrick,Small Business,0.10,1,1/1/12,28774,High,32,...,-111.80,East,4031,180.36,1/2/12,Regular Air,4.69,Pennsylvania,5.98,15131
1,Bowie,NaN,Matt Collister,Home Office,0.08,1,1/1/12,13729,Not Specified,9,...,-342.91,East,1914,872.48,1/3/12,Express Air,35.00,Maryland,95.99,20715
2,Napa,NaN,Alan Schoenberger,Corporate,0.00,1,1/2/12,37537,Low,4,...,-193.08,West,5272,1239.06,1/2/12,Delivery Truck,48.80,California,291.73,94559
3,Montebello,NaN,Elizabeth Moffitt,Consumer,0.08,1,1/2/12,44069,Critical,43,...,247.79,West,6225,614.80,1/2/12,Regular Air,1.97,California,15.04,90640
4,Napa,NaN,Alan Schoenberger,Corporate,0.07,1,1/2/12,37537,Low,43,...,-1049.85,West,5273,4083.19,1/4/12,Delivery Truck,45.00,California,100.98,94559

In [ ]:
# Retail_fur=Retail[Retail["Product Category"]=="Furniture"]

# Retail_fur_critical=Retail_fur[Retail_fur["Order Priority"]=="Critical"]
# Retail_fur_High=Retail_fur[Retail_fur["Order Priority"]=="High"]
# Retail_fur_Medium=Retail_fur[Retail_fur["Order Priority"]=="Medium"]
# Retail_fur_Low=Retail_fur[Retail_fur["Order Priority"]=="Low"]
# Retail_fur_Nots=Retail_fur[Retail_fur["Order Priority"]=="Not Specified"]

# profit_fur_critical=np.sum(Retail_fur_critical["Profit"])
# profit_fur_High=np.sum(Retail_fur_High["Profit"])
# profit_fur_Medium=np.sum(Retail_fur_Medium["Profit"])
# profit_fur_Low=np.sum(Retail_fur_Low["Profit"])
# profit_fur_Nots=np.sum(Retail_fur_Nots["Profit"])

# Retail_fur_list=[profit_fur_critical,profit_fur_High,profit_fur_Medium,profit_fur_Low,profit_fur_Nots]
# print(Retail_fur_list)


# Retail_os=Retail[Retail["Product Category"]=="Office Supplies"]
# Retail_os_critical=Retail_os[Retail_os["Order Priority"]=="Critical"]
# Retail_os_High=Retail_os[Retail_os["Order Priority"]=="High"]
# Retail_os_Medium=Retail_os[Retail_os["Order Priority"]=="Medium"]
# Retail_os_Low=Retail_os[Retail_os["Order Priority"]=="Low"]
# Retail_os_Nots=Retail_os[Retail_os["Order Priority"]=="Not Specified"]

# profit_os_critical=np.sum(Retail_os_critical["Profit"])
# profit_os_High=np.sum(Retail_os_High["Profit"])
# profit_os_Medium=np.sum(Retail_os_Medium["Profit"])
# profit_os_Low=np.sum(Retail_os_Low["Profit"])
# profit_os_Nots=np.sum(Retail_os_Nots["Profit"])

# Retail_os_list=[profit_os_critical,profit_os_High,profit_os_Medium,profit_os_Low,profit_os_Nots]
# print(Retail_os_list)


# Retail_tech=Retail[Retail["Product Category"]=="Technology"]
# Retail_tech_critical=Retail_tech[Retail_tech["Order Priority"]=="Critical"]
# Retail_tech_High=Retail_tech[Retail_tech["Order Priority"]=="High"]
# Retail_tech_Medium=Retail_tech[Retail_tech["Order Priority"]=="Medium"]
# Retail_tech_Low=Retail_tech[Retail_tech["Order Priority"]=="Low"]
# Retail_tech_Nots=Retail_tech[Retail_tech["Order Priority"]=="Not Specified"]

# profit_tech_critical=np.sum(Retail_tech_critical["Profit"])
# profit_tech_High=np.sum(Retail_tech_High["Profit"])
# profit_tech_Medium=np.sum(Retail_tech_Medium["Profit"])
# profit_tech_Low=np.sum(Retail_tech_Low["Profit"])
# profit_tech_Nots=np.sum(Retail_tech_Nots["Profit"])

# Retail_tech_list=[profit_tech_critical,profit_tech_High,profit_tech_Medium,profit_tech_Low,profit_tech_Nots]
# print(Retail_tech_list)

In [ ]:
# Retail_summary=pd.DataFrame([Retail_fur_list,Retail_os_list,Retail_tech_list],
#                             index=["Furniture","Office Supplies", "Technology" ],
#                             columns=["Critical", "High","Medium" ,"Low", "Not Specified"])
# Retail_summary

In [ ]:
# profit_fur=np.sum(Retail_fur.Profit)
# profit_os=np.sum(Retail_os.Profit)
# profit_tech=np.sum(Retail_tech.Profit)

In [ ]:

# OneWayAnovaTestStats, OneWayAnovaPVal=f_oneway(Retail_summary.Critical,
#                                                Retail_summary.High,
#                                                Retail_summary.Medium,
#                                                Retail_summary.Low,
#                                                Retail_summary["Not Specified"])


# print("P value is", OneWayAnovaPVal)
# Siglevel=0.05
# if OneWayAnovaPVal<=Siglevel:
#     print("We reject H0. There exists a difference in the total profit for different order priority.")
# else:
#     print("We do not reject H0. We cannot conclude that there exists a difference in the total profit for different order priority.")

In [ ]:
# Product_Name_list=Retail["Product Name"].unique()

In [ ]:
# import random
# #pick 3 sample
# pick_product=["Acco 6 Outlet Guardian Premium Surge Suppressor","Adams Phone Message Book, 200 Message Capacity, 8 1/16” x 11”","Adesso Programmable 142-Key Keyboard"]
# Critical=[]
# High=[]
# Medium=[]
# Low=[]
# NSpecified=[]
# # for i in range(0,2):
# #   locate=random.randint(0,len(Product_Name_list))
# #   pick_product.append(Product_Name_list[locate])
# # print(pick_product)

# for j in pick_product:
#   Retail_item=Retail[Retail["Product Name"]==j]
#   c=Retail_item[Retail_item["Order Priority"]=='Critical']
#   Critical.append(c.Profit.iloc[0])

#   h=Retail_item[Retail_item["Order Priority"]=='High']
#   Medium.append(h.Profit.iloc[0])

#   m=Retail_item[Retail_item["Order Priority"]=='Medium']
#   High.append(m.Profit.iloc[0])

#   l=Retail_item[Retail_item["Order Priority"]=='Low']
#   Low.append(l.Profit.iloc[0])

#   ns=Retail_item[Retail_item["Order Priority"]=='Not Specified']
#   NSpecified.append(ns.Profit.iloc[0])




# print(Critical)
# print(High)
# print(Medium)
# print(Low)
# print(NSpecified)

# Retail_summary_list=[Critical,High,Medium,Low,NSpecified]
# Retail_summary_op=pd.DataFrame(oneway_list,index=["Critical","High","Medium","Low","Not Specified"],columns=pick_product)
# Retail_summary_op

In [ ]:

# OneWayAnovaTestStats, OneWayAnovaPVal=f_oneway(Retail_summary_op.iloc[0,:],
#                                                Retail_summary_op.iloc[1,:],
#                                                Retail_summary_op.iloc[2,:],
#                                                Retail_summary_op.iloc[3,:],
#                                                Retail_summary_op.iloc[4,:])


# print("P value is", OneWayAnovaPVal)
# Siglevel=0.05
# if OneWayAnovaPVal<=Siglevel:
#     print("We reject H0. There exists a difference in the total profit for different order priority.")
# else:
#     print("We do not reject H0. We cannot conclude that there exists a difference in the total profit for different order priority.")

In [ ]:
import random
#random pick 10 sample
pick_product=[]
Critical=[0]*10
High=[0]*10
Medium=[0]*10
Low=[0]*10
NSpecified=[0]*10
for i in range(0,10):
  locate=random.randint(0,len(Product_Name_list)-1)
  pick_product.append(Product_Name_list[locate])
print(pick_product)

for j in range(len(pick_product)):
  Retail_item=Retail[Retail["Product Name"]==pick_product[j]]
  x=Retail_item[Retail_item["Order Priority"]=='Critical']
  if x.Profit.empty==False:
    Critical[j]=x.Profit.iloc[0]

  x=Retail_item[Retail_item["Order Priority"]=='High']
  if x.Profit.empty==False:
    High[j]=x.Profit.iloc[0]

  x=Retail_item[Retail_item["Order Priority"]=='Medium']
  if x.Profit.empty==False:
    Medium[j]=x.Profit.iloc[0]

  x=Retail_item[Retail_item["Order Priority"]=='Low']
  if x.Profit.empty==False:
    Low[j]=x.Profit.iloc[0]

  x=Retail_item[Retail_item["Order Priority"]=='Not Specified']
  if x.Profit.empty==False:
    NSpecified[j]=x.Profit.iloc[0]




print(Critical)
print(High)
print(Medium)
print(Low)
print(NSpecified)

Retail_summary_list=[Critical,High,Medium,Low,NSpecified]
Retail_summary_op=pd.DataFrame(Retail_summary_list,index=["Critical","High","Medium","Low","Not Specified"],columns=pick_product)
# print(Retail_summary_op)

OneWayAnovaTestStats, OneWayAnovaPVal=f_oneway(Retail_summary_op.iloc[0,:],
                                               Retail_summary_op.iloc[1,:],
                                               Retail_summary_op.iloc[2,:],
                                               Retail_summary_op.iloc[3,:],
                                               Retail_summary_op.iloc[4,:])


print("P value is", OneWayAnovaPVal)
Siglevel=0.05
if OneWayAnovaPVal<=Siglevel:
    print("We reject H0. There exists a difference in the total profit for different order priority.")
else:
    print("We do not reject H0. We cannot conclude that there exists a difference in the total profit for different order priority.")

['KH 688', 'Staples Colored Bar Computer Paper', '80 Minute Slim Jewel Case CD-R , 10/Pack - Staples', '6162m', 'Sanyo Counter Height Refrigerator with Crisper, 3.6 Cubic Foot, Stainless Steel/Black', 'DAX Two-Tone Rosewood/Black Document Frame, Desktop, 5 x 7', 'Fuji Slim Jewel Case CD-R', 'Holmes 99% HEPA Air Purifier', 'GBC Recycled Regency Composition Covers', 'Staples 6 Outlet Surge']
[1030.509, 0, -21.44, 1578.699, 0, -103.48, -37.2, -139.87, 407.116, -18.19]
[1343.205, 437.61, -26.8, 692.775, 0, -36.47, 0, -178.0, 0, -35.94]
[0, 632.13, 11.95, 0, 541.47, 0, -29.02, -99.95, 72.5135, -34.39]
[1382.445, 699.64, 37.41, 0, 0, 10.29, -55.84, 0, 0, -43.52]
[0, 299.59, 82.31, 850.536, 772.04, 23.0, 0, -209.61, -61.8815, -47.92]
P value is 0.9473443957942935
We do not reject H0. We cannot conclude that there exists a difference in the total profit for different order priority.

More than 8 out of 10 times, no difference

### Whether Shipping Cost affects Profit in Walmart_Retail_Dataset -->YES

In [ ]:
# Retail_fur=Retail[Retail["Product Category"]=="Furniture"]

# Retail_fur_1=Retail_fur[Retail_fur["Shipping Cost"]<20]
# Retail_fur_2=Retail_fur[Retail_fur["Shipping Cost"]>=20]
# Retail_fur_2=Retail_fur_2[Retail_fur["Shipping Cost"]<40]
# Retail_fur_3=Retail_fur[Retail_fur["Shipping Cost"]>=40]
# Retail_fur_3=Retail_fur_3[Retail_fur["Shipping Cost"]<60]
# Retail_fur_4=Retail_fur[Retail_fur["Shipping Cost"]>=60]
# Retail_fur_4=Retail_fur_4[Retail_fur["Shipping Cost"]<80]
# Retail_fur_5=Retail_fur[Retail_fur["Shipping Cost"]>=80]

# profit_fur_1=np.sum(Retail_fur_1["Profit"])
# profit_fur_2=np.sum(Retail_fur_2["Profit"])
# profit_fur_3=np.sum(Retail_fur_3["Profit"])
# profit_fur_4=np.sum(Retail_fur_4["Profit"])
# profit_fur_5=np.sum(Retail_fur_5["Profit"])

# Retail_fur_list=[profit_fur_1,profit_fur_2,profit_fur_3,profit_fur_4,profit_fur_5]
# print(Retail_fur_list)


# Retail_os=Retail[Retail["Product Category"]=="Office Supplies"]

# Retail_os_1=Retail_os[Retail_os["Shipping Cost"]<20]
# Retail_os_2=Retail_os[Retail_os["Shipping Cost"]>=20]
# Retail_os_2=Retail_os_2[Retail_os["Shipping Cost"]<40]
# Retail_os_3=Retail_os[Retail_os["Shipping Cost"]>=40]
# Retail_os_3=Retail_os_3[Retail_os["Shipping Cost"]<60]
# Retail_os_4=Retail_os[Retail_os["Shipping Cost"]>=60]
# Retail_os_4=Retail_os_4[Retail_os["Shipping Cost"]<800]
# Retail_os_5=Retail_os[Retail_os["Shipping Cost"]>=80]

# profit_os_1=np.sum(Retail_os_1["Profit"])
# profit_os_2=np.sum(Retail_os_2["Profit"])
# profit_os_3=np.sum(Retail_os_3["Profit"])
# profit_os_4=np.sum(Retail_os_4["Profit"])
# profit_os_5=np.sum(Retail_os_5["Profit"])

# Retail_os_list=[profit_os_1,profit_os_2,profit_os_3,profit_os_4,profit_os_5]
# print(Retail_os_list)


# Retail_tech=Retail[Retail["Product Category"]=="Technology"]

# Retail_tech_1=Retail_tech[Retail_tech["Shipping Cost"]<20]
# Retail_tech_2=Retail_tech[Retail_tech["Shipping Cost"]>=20]
# Retail_tech_2=Retail_tech_2[Retail_tech["Shipping Cost"]<40]
# Retail_tech_3=Retail_tech[Retail_tech["Shipping Cost"]>=40]
# Retail_tech_3=Retail_tech_3[Retail_tech["Shipping Cost"]<60]
# Retail_tech_4=Retail_tech[Retail_tech["Shipping Cost"]>=60]
# Retail_tech_4=Retail_tech_4[Retail_tech["Shipping Cost"]<80]
# Retail_tech_5=Retail_tech[Retail_tech["Shipping Cost"]>=80]


# profit_tech_1=np.sum(Retail_tech_1["Profit"])
# profit_tech_2=np.sum(Retail_tech_2["Profit"])
# profit_tech_3=np.sum(Retail_tech_3["Profit"])
# profit_tech_4=np.sum(Retail_tech_4["Profit"])
# profit_tech_5=np.sum(Retail_tech_5["Profit"])

# Retail_tech_list=[profit_tech_1,profit_tech_2,profit_tech_3,profit_tech_4,profit_tech_5]
# print(Retail_tech_list)

In [ ]:
# Retail_summary_shipc=pd.DataFrame([Retail_fur_list,Retail_os_list,Retail_tech_list],
#                             index=["Furniture","Office Supplies", "Technology" ],
#                             columns=["0-20", "20-40","40-60" ,"60-80", "80-100"])
# Retail_summary_shipc=Retail_summary_shipc.transpose()
# Retail_summary_shipc

In [ ]:

# OneWayAnovaTestStats, OneWayAnovaPVal=f_oneway(Retail_summary_shipc.iloc[0,:],
#                                                Retail_summary_shipc.iloc[1,:],
#                                                Retail_summary_shipc.iloc[2,:],
#                                                Retail_summary_shipc.iloc[3,:],
#                                                Retail_summary_shipc.iloc[4,:])


# print("P value is", OneWayAnovaPVal)
# Siglevel=0.05
# if OneWayAnovaPVal<=Siglevel:
#     print("We reject H0. There exists a difference in the total profit for different shipping cost levels.")
# else:
#     print("We do not reject H0. We cannot conclude that there exists a difference in the total profit for different shipping cost levels.")

In [ ]:
# response_val=Retail_summary_shipc.values.flatten()
# tukey_val = pairwise_tukeyhsd(endog = response_val, #Data collected
#                           groups = np.repeat(["0-20","20-40","40-60","60-80","80-100"],repeats = 3), # match data to their corresponding levels
#                           alpha = 0.05)

# print('\n')
# print(tukey_val)

In [ ]:
#There are differences in total profit between shipping cost 0-20 level and shipping cost 40-60 level, between shipping cost 0-20 level and shipping cost 60-80 level, and between shipping cost 0-20 level and shipping cost 80-100 level. The averate total profit of 0-20 level 417774.826 dollars highter than is  that of the 40-60 level. The averate total profit of 0-20 level 454717.0887 dollars highter than is  that of the 60-80 level. The averate total profit of 0-20 level 441396.2285 dollars highter than is  that of the 80-100 level. As the result, having shipping cost between 0 to 20 dollars can give Walmart most profit.

In [ ]:
import random
#random pick 10 sample
pick_product=[]
level1=[0]*10
level2=[0]*10
level3=[0]*10
level4=[0]*10
level5=[0]*10
for i in range(0,10):
  locate=random.randint(0,len(Product_Name_list)-1)
  pick_product.append(Product_Name_list[locate])
print(pick_product)

for j in range(len(pick_product)):
  Retail_item=Retail[Retail["Product Name"]==pick_product[j]]
  x=Retail_item[Retail_item["Shipping Cost"]<20]
  if x.Profit.empty==False:
    level1[j]=x.Profit.iloc[0]

  x=Retail_item[Retail_item["Shipping Cost"]>=20]
  x=x[x["Shipping Cost"]<40]
  if x.Profit.empty==False:
    level2[j]=x.Profit.iloc[0]

  x=Retail_item[Retail_item["Shipping Cost"]>=40]
  x=x[x["Shipping Cost"]<60]
  if x.Profit.empty==False:
    level3[j]=x.Profit.iloc[0]

  x=Retail_item[Retail_item["Shipping Cost"]>=60]
  x=x[x["Shipping Cost"]<80]
  if x.Profit.empty==False:
    level4[j]=x.Profit.iloc[0]

  x=Retail_item[Retail_item["Shipping Cost"]>=80]
  if x.Profit.empty==False:
    level5[j]=x.Profit.iloc[0]




print(level1)
print(level2)
print(level3)
print(level4)
print(level5)

Retail_summary_list=[level1,level2,level3,level4,level5]
Retail_summary_sc=pd.DataFrame(Retail_summary_list,index=["0-20", "20-40","40-60" ,"60-80", "80-100"],columns=pick_product)
Retail_summary_sc

OneWayAnovaTestStats, OneWayAnovaPVal=f_oneway(Retail_summary_sc.iloc[0,:],
                                               Retail_summary_sc.iloc[1,:],
                                               Retail_summary_sc.iloc[2,:],
                                               Retail_summary_sc.iloc[3,:],
                                               Retail_summary_sc.iloc[4,:])


print("P value is", OneWayAnovaPVal)
Siglevel=0.05
if OneWayAnovaPVal<=Siglevel:
    print("We reject H0. There exists a difference in the total profit for different shipping cost.")
else:
    print("We do not reject H0. We cannot conclude that there exists a difference in the total profit for different shipping cost.")

['Eldon Executive Woodline II Cherry Finish Desk Accessories', 'Microsoft Internet Keyboard', 'Tyvek® Side-Opening Peel & Seel® Expanding Envelopes', 'T61', 'Logitech Access Keyboard', 'AT&T Black Trimline Phone, Model 210', 'Black Print Carbonless 8 1/2" x 8 1/4" Rapid Memo Book', 'Xerox 1962', 'GBC DocuBind 200 Manual Binding Machine', 'Fellowes 8 Outlet Superior Workstation Surge Protector']
[78.98, -170.87, 103.13, 218.727, 154.65, -67.3815, -8.51, -121.2, 7604.95, 267.16]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
P value is 0.352579553297397
We do not reject H0. We cannot conclude that there exists a difference in the total profit for different shipping cost.

### Whether Discount affects Profit in Walmart_Retail_Dataset -->NO

In [ ]:
# Retail_fur=Retail[Retail["Product Category"]=="Furniture"]

# Retail_fur_1=Retail_fur[Retail_fur["Discount"]<0.02]
# Retail_fur_2=Retail_fur[Retail_fur["Discount"]>=0.02]
# Retail_fur_2=Retail_fur_2[Retail_fur["Discount"]<0.04]
# Retail_fur_3=Retail_fur[Retail_fur["Discount"]>=0.04]
# Retail_fur_3=Retail_fur_3[Retail_fur["Discount"]<0.06]
# Retail_fur_4=Retail_fur[Retail_fur["Discount"]>=0.06]
# Retail_fur_4=Retail_fur_4[Retail_fur["Discount"]<0.08]
# Retail_fur_5=Retail_fur[Retail_fur["Discount"]>=0.08]

# profit_fur_1=np.sum(Retail_fur_1["Profit"])
# profit_fur_2=np.sum(Retail_fur_2["Profit"])
# profit_fur_3=np.sum(Retail_fur_3["Profit"])
# profit_fur_4=np.sum(Retail_fur_4["Profit"])
# profit_fur_5=np.sum(Retail_fur_5["Profit"])

# Retail_fur_list=[profit_fur_1,profit_fur_2,profit_fur_3,profit_fur_4,profit_fur_5]
# print(Retail_fur_list)


# Retail_os=Retail[Retail["Product Category"]=="Office Supplies"]

# Retail_os_1=Retail_os[Retail_os["Discount"]<0.02]
# Retail_os_2=Retail_os[Retail_os["Discount"]>=0.02]
# Retail_os_2=Retail_os_2[Retail_os["Discount"]<0.04]
# Retail_os_3=Retail_os[Retail_os["Discount"]>=0.04]
# Retail_os_3=Retail_os_3[Retail_os["Discount"]<0.06]
# Retail_os_4=Retail_os[Retail_os["Discount"]>=0.06]
# Retail_os_4=Retail_os_4[Retail_os["Discount"]<0.08]
# Retail_os_5=Retail_os[Retail_os["Discount"]>=0.08]

# profit_os_1=np.sum(Retail_os_1["Profit"])
# profit_os_2=np.sum(Retail_os_2["Profit"])
# profit_os_3=np.sum(Retail_os_3["Profit"])
# profit_os_4=np.sum(Retail_os_4["Profit"])
# profit_os_5=np.sum(Retail_os_5["Profit"])

# Retail_os_list=[profit_os_1,profit_os_2,profit_os_3,profit_os_4,profit_os_5]
# print(Retail_os_list)


# Retail_tech=Retail[Retail["Product Category"]=="Technology"]

# Retail_tech_1=Retail_tech[Retail_tech["Discount"]<0.02]
# Retail_tech_2=Retail_tech[Retail_tech["Discount"]>=0.02]
# Retail_tech_2=Retail_tech_2[Retail_tech["Discount"]<0.04]
# Retail_tech_3=Retail_tech[Retail_tech["Discount"]>=0.04]
# Retail_tech_3=Retail_tech_3[Retail_tech["Discount"]<0.06]
# Retail_tech_4=Retail_tech[Retail_tech["Discount"]>=0.06]
# Retail_tech_4=Retail_tech_4[Retail_tech["Discount"]<0.08]
# Retail_tech_5=Retail_tech[Retail_tech["Discount"]>=0.08]


# profit_tech_1=np.sum(Retail_tech_1["Profit"])
# profit_tech_2=np.sum(Retail_tech_2["Profit"])
# profit_tech_3=np.sum(Retail_tech_3["Profit"])
# profit_tech_4=np.sum(Retail_tech_4["Profit"])
# profit_tech_5=np.sum(Retail_tech_5["Profit"])

# Retail_tech_list=[profit_tech_1,profit_tech_2,profit_tech_3,profit_tech_4,profit_tech_5]
# print(Retail_tech_list)

In [ ]:
# Retail_summary=pd.DataFrame([Retail_fur_list,Retail_os_list,Retail_tech_list],
#                             index=["Furniture","Office Supplies", "Technology" ],
#                             columns=["0-0.02", "0.02-0.04","0.04-0.06" ,"0.06-0.08", "0.08-0.1"])
# Retail_summary

In [ ]:

# OneWayAnovaTestStats, OneWayAnovaPVal=f_oneway(Retail_summary["0-0.02"],
#                                                Retail_summary["0.02-0.04"],
#                                                Retail_summary["0.04-0.06"],
#                                                Retail_summary["0.06-0.08"],
#                                                Retail_summary["0.08-0.1"])


# print("P value is", OneWayAnovaPVal)
# Siglevel=0.05
# if OneWayAnovaPVal<=Siglevel:
#     print("We reject H0. There exists a difference in the total profit for different discount level.")
# else:
#     print("We do not reject H0. We cannot conclude that there exists a difference in the total profit for different discount level.")

In [ ]:
import random
#random pick 10 sample
pick_product=[]
level1=[0]*10
level2=[0]*10
level3=[0]*10
level4=[0]*10
level5=[0]*10
for i in range(0,10):
  locate=random.randint(0,len(Product_Name_list)-1)
  pick_product.append(Product_Name_list[locate])
print(pick_product)

for j in range(len(pick_product)):
  Retail_item=Retail[Retail["Product Name"]==pick_product[j]]
  x=Retail_item[Retail_item["Discount"]<0.020]
  if x.Profit.empty==False:
    level1[j]=x.Profit.iloc[0]

  x=Retail_item[Retail_item["Discount"]>=0.020]
  x=x[x["Shipping Cost"]<0.040]
  if x.Profit.empty==False:
    level2[j]=x.Profit.iloc[0]

  x=Retail_item[Retail_item["Discount"]>=0.040]
  x=x[x["Shipping Cost"]<0.060]
  if x.Profit.empty==False:
    level3[j]=x.Profit.iloc[0]

  x=Retail_item[Retail_item["Discount"]>=0.060]
  x=x[x["Shipping Cost"]<0.080]
  if x.Profit.empty==False:
    level4[j]=x.Profit.iloc[0]

  x=Retail_item[Retail_item["Discount"]>=0.080]
  if x.Profit.empty==False:
    level5[j]=x.Profit.iloc[0]




print(level1)
print(level2)
print(level3)
print(level4)
print(level5)

Retail_summary_list=[level1,level2,level3,level4,level5]
Retail_summary_d=pd.DataFrame(Retail_summary_list,index=["0-0.02", "0.02-0.04","0.04-0.06" ,"0.06-0.08", "0.08-0.1"],columns=pick_product)
Retail_summary_d

OneWayAnovaTestStats, OneWayAnovaPVal=f_oneway(Retail_summary_d.iloc[0,:],
                                               Retail_summary_d.iloc[1,:],
                                               Retail_summary_d.iloc[2,:],
                                               Retail_summary_d.iloc[3,:],
                                               Retail_summary_d.iloc[4,:])


print("P value is", OneWayAnovaPVal)
Siglevel=0.05
if OneWayAnovaPVal<=Siglevel:
    print("We reject H0. There exists a difference in the total profit for different discount.")
else:
    print("We do not reject H0. We cannot conclude that there exists a difference in the total profit for different discount.")

['Adams "While You Were Out" Message Pads', 'Panasonic KX-P3200 Dot Matrix Printer', 'Belkin ErgoBoard™ Keyboard', 'Eldon Simplefile® Box Office®', 'R289LX', 'Euro Pro Shark Stick Mini Vacuum', 'Acco Suede Grain Vinyl Round Ring Binder', 'Hon 94000 Series Round Tables', 'Eldon Executive Woodline II Cherry Finish Desk Accessories', 'Xerox 217']
[43.05, -313.1304, 46.29, -36.11, 0, -219.61, 1.309, 173.48, 94.96, -43.26]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 653.68, -111.94, -60.79, 803.601, -563.86, 0, -450.7, -1.95, -65.67]
P value is 0.9918671127151394
We do not reject H0. We cannot conclude that there exists a difference in the total profit for different discount.

### Whether Ship Mode affects Profit in Walmart_Retail_Dataset -->NO

In [ ]:
# Retail_fur=Retail[Retail["Product Category"]=="Furniture"]

# Retail_fur_truck=Retail_fur[Retail_fur["Ship Mode"]=="Delivery Truck"]
# Retail_fur_rair=Retail_fur[Retail_fur["Ship Mode"]=="Regular Air"]
# Retail_fur_eair=Retail_fur[Retail_fur["Ship Mode"]=="Express Air"]


# profit_fur_truck=np.sum(Retail_fur_truck["Profit"])
# profit_fur_rair=np.sum(Retail_fur_rair["Profit"])
# profit_fur_eair=np.sum(Retail_fur_eair["Profit"])


# Retail_fur_list=[profit_fur_truck,profit_fur_rair,profit_fur_eair]
# print(Retail_fur_list)


# Retail_os=Retail[Retail["Product Category"]=="Office Supplies"]

# Retail_os_truck=Retail_os[Retail_os["Ship Mode"]=="Delivery Truck"]
# Retail_os_rair=Retail_os[Retail_os["Ship Mode"]=="Regular Air"]
# Retail_os_eair=Retail_os[Retail_os["Ship Mode"]=="Express Air"]


# profit_os_truck=np.sum(Retail_os_truck["Profit"])
# profit_os_rair=np.sum(Retail_os_rair["Profit"])
# profit_os_eair=np.sum(Retail_os_eair["Profit"])


# Retail_os_list=[profit_os_truck,profit_os_rair,profit_os_eair]
# print(Retail_os_list)


# Retail_tech=Retail[Retail["Product Category"]=="Technology"]

# Retail_tech_truck=Retail_tech[Retail_tech["Ship Mode"]=="Delivery Truck"]
# Retail_tech_rair=Retail_tech[Retail_tech["Ship Mode"]=="Regular Air"]
# Retail_tech_eair=Retail_tech[Retail_tech["Ship Mode"]=="Express Air"]


# profit_tech_truck=np.sum(Retail_tech_truck["Profit"])
# profit_tech_rair=np.sum(Retail_tech_rair["Profit"])
# profit_tech_eair=np.sum(Retail_tech_eair["Profit"])


# Retail_tech_list=[profit_tech_truck,profit_tech_rair,profit_tech_eair]
# print(Retail_tech_list)

In [ ]:
# Retail_summary_shipm=pd.DataFrame([Retail_fur_list,Retail_os_list,Retail_tech_list],
#                             index=["Furniture","Office Supplies", "Technology" ],
#                             columns=["Delivery Truck","Regular Air","Express Air"])
# Retail_summary_shipm=Retail_summary_shipm.transpose()
# Retail_summary_shipm

In [ ]:

# OneWayAnovaTestStats, OneWayAnovaPVal=f_oneway(Retail_summary_shipm.iloc[0,:],
#                                                Retail_summary_shipm.iloc[1,:],
#                                                Retail_summary_shipm.iloc[2,:])



# print("P value is", OneWayAnovaPVal)
# Siglevel=0.05
# if OneWayAnovaPVal<=Siglevel:
#     print("We reject H0. There exists a difference in the total profit for different shipping mode.")
# else:
#     print("We do not reject H0. We cannot conclude that there exists a difference in the total profit for different shipping mode.")

In [ ]:
import random
#random pick 10 sample
pick_product=[]
level1=[0]*10
level2=[0]*10
level3=[0]*10
for i in range(0,10):
  locate=random.randint(0,len(Product_Name_list)-1)
  pick_product.append(Product_Name_list[locate])
print(pick_product)

for j in range(len(pick_product)):
  Retail_item=Retail[Retail["Product Name"]==pick_product[j]]
  x=Retail_item[Retail_item["Ship Mode"]=="Delivery Truck"]
  if x.Profit.empty==False:
    level1[j]=x.Profit.iloc[0]

  x=Retail_item[Retail_item["Ship Mode"]=="Regular Air"]
  if x.Profit.empty==False:
    level2[j]=x.Profit.iloc[0]

  x=Retail_item[Retail_item["Ship Mode"]=="Express Air"]
  if x.Profit.empty==False:
    level3[j]=x.Profit.iloc[0]





print(level1)
print(level2)
print(level3)


Retail_summary_list=[level1,level2,level3]
Retail_summary_sm=pd.DataFrame(Retail_summary_list,index=["Delivery Truck","Regular Air","Express Air"],columns=pick_product)
# print(Retail_summary_op)

OneWayAnovaTestStats, OneWayAnovaPVal=f_oneway(Retail_summary_sm.iloc[0,:],
                                               Retail_summary_sm.iloc[1,:],
                                               Retail_summary_sm.iloc[2,:],
                                               )


print("P value is", OneWayAnovaPVal)
Siglevel=0.05
if OneWayAnovaPVal<=Siglevel:
    print("We reject H0. There exists a difference in the total profit for different order priority.")
else:
    print("We do not reject H0. We cannot conclude that there exists a difference in the total profit for different order priority.")

['Smead Alpha-Z Color-Coded Name Labels First Letter Starter Set', 'Acco Four Pocket Poly Ring Binder with Label Holder, Smoke, 1"', 'Global Leather & Oak Executive Chair, Burgundy', 'Howard Miller Distant Time Traveler Alarm Clock', 'Acco 6 Outlet Guardian Premium Surge Suppressor', 'Binney & Smith Crayola® Metallic Colored Pencils, 8-Color Set', 'R380', 'IBM 80 Minute CD-R Spindle, 50/Pack', 'Executive Impressions 14" Two-Color Numerals Wall Clock', 'Eureka Recycled Copy Paper 8 1/2" x 11", Ream']
[0, 0, -505.76, 0, 0, 0, 0, 0, 0, 0]
[-223.5, -69.874, 0, -125.79, 20.43, -4.96, -655.424, -10.59, 64.25, -34.91]
[0, 0, 0, 0, 0, 0, 2373.237, 4.41, 0, -40.56]
P value is 0.22913869049107274
We do not reject H0. We cannot conclude that there exists a difference in the total profit for different order priority.

### Whether Unit price affects Profit in Walmart_Retail_Dataset -->YES

In [ ]:
# Retail_fur=Retail[Retail["Product Category"]=="Furniture"]

# Retail_fur_1=Retail_fur[Retail_fur["Unit Price"]<10]
# Retail_fur_2=Retail_fur[Retail_fur["Unit Price"]>=10]
# Retail_fur_2=Retail_fur_2[Retail_fur["Unit Price"]<100]
# Retail_fur_3=Retail_fur[Retail_fur["Unit Price"]>=100]
# Retail_fur_3=Retail_fur_3[Retail_fur["Unit Price"]<500]
# Retail_fur_4=Retail_fur[Retail_fur["Unit Price"]>=500]
# Retail_fur_4=Retail_fur_4[Retail_fur["Unit Price"]<1000]
# Retail_fur_5=Retail_fur[Retail_fur["Unit Price"]>=1000]

# profit_fur_1=np.sum(Retail_fur_1["Profit"])
# profit_fur_2=np.sum(Retail_fur_2["Profit"])
# profit_fur_3=np.sum(Retail_fur_3["Profit"])
# profit_fur_4=np.sum(Retail_fur_4["Profit"])
# profit_fur_5=np.sum(Retail_fur_5["Profit"])

# Retail_fur_list=[profit_fur_1,profit_fur_2,profit_fur_3,profit_fur_4,profit_fur_5]
# print(Retail_fur_list)


# Retail_os=Retail[Retail["Product Category"]=="Office Supplies"]

# Retail_os_1=Retail_os[Retail_os["Unit Price"]<10]
# Retail_os_2=Retail_os[Retail_os["Unit Price"]>=10]
# Retail_os_2=Retail_os_2[Retail_os["Unit Price"]<100]
# Retail_os_3=Retail_os[Retail_os["Unit Price"]>=100]
# Retail_os_3=Retail_os_3[Retail_os["Unit Price"]<500]
# Retail_os_4=Retail_os[Retail_os["Unit Price"]>=500]
# Retail_os_4=Retail_os_4[Retail_os["Unit Price"]<1000]
# Retail_os_5=Retail_os[Retail_os["Unit Price"]>=1000]

# profit_os_1=np.sum(Retail_os_1["Profit"])
# profit_os_2=np.sum(Retail_os_2["Profit"])
# profit_os_3=np.sum(Retail_os_3["Profit"])
# profit_os_4=np.sum(Retail_os_4["Profit"])
# profit_os_5=np.sum(Retail_os_5["Profit"])

# Retail_os_list=[profit_os_1,profit_os_2,profit_os_3,profit_os_4,profit_os_5]
# print(Retail_os_list)


# Retail_tech=Retail[Retail["Product Category"]=="Technology"]

# Retail_tech_1=Retail_tech[Retail_tech["Unit Price"]<10]
# Retail_tech_2=Retail_tech[Retail_tech["Unit Price"]>=10]
# Retail_tech_2=Retail_tech_2[Retail_tech["Unit Price"]<100]
# Retail_tech_3=Retail_tech[Retail_tech["Unit Price"]>=100]
# Retail_tech_3=Retail_tech_3[Retail_tech["Unit Price"]<500]
# Retail_tech_4=Retail_tech[Retail_tech["Unit Price"]>=500]
# Retail_tech_4=Retail_tech_4[Retail_tech["Unit Price"]<1000]
# Retail_tech_5=Retail_tech[Retail_tech["Unit Price"]>=1000]


# profit_tech_1=np.sum(Retail_tech_1["Profit"])
# profit_tech_2=np.sum(Retail_tech_2["Profit"])
# profit_tech_3=np.sum(Retail_tech_3["Profit"])
# profit_tech_4=np.sum(Retail_tech_4["Profit"])
# profit_tech_5=np.sum(Retail_tech_5["Profit"])

# Retail_tech_list=[profit_tech_1,profit_tech_2,profit_tech_3,profit_tech_4,profit_tech_5]
# print(Retail_tech_list)

In [ ]:
# Retail_summary_up=pd.DataFrame([Retail_fur_list,Retail_os_list,Retail_tech_list],
#                             index=["Furniture","Office Supplies", "Technology" ],
#                             columns=["0-10", "10-100","100-500" ,"500-1000", "1000+"])
# Retail_summary_up=Retail_summary_up.transpose()
# Retail_summary_up

In [ ]:

# OneWayAnovaTestStats, OneWayAnovaPVal=f_oneway(Retail_summary_up.iloc[0,:],
#                                                Retail_summary_up.iloc[1,:],
#                                                Retail_summary_up.iloc[2,:],
#                                                Retail_summary_up.iloc[3,:],
#                                                Retail_summary_up.iloc[4,:])


# print("P value is", OneWayAnovaPVal)
# Siglevel=0.05
# if OneWayAnovaPVal<=Siglevel:
#     print("We reject H0. There exists a difference in the total profit for unit price levels.")
# else:
#     print("We do not reject H0. We cannot conclude that there exists a difference in the total profit for unit price levels.")

In [ ]:
# response_val=Retail_summary_up.values.flatten()
# tukey_val = pairwise_tukeyhsd(endog = response_val, #Data collected
#                           groups = np.repeat(["0-10","10-100","100-500","500-1000","1000+"],repeats = 3), # match data to their corresponding levels
#                           alpha = 0.05)

# print('\n')
# print(tukey_val)

In [ ]:
#There are differences between the average total profit with 0-10 unit price level and that with 100-500 unit price level, and between the average total profit with 100-500 unit price level and that of 1000+ unit price level. The average total profit with 0-10 unit price level is 398645.4121 dollars lower than that with 0-10 unit price level.  The average total profit with 100-500 unit price level is 398933.5917 dollars higher than that with 1000+ unit price level.  As the result, 100-500 brings the most profit.

In [ ]:
import random
#random pick 10 sample
pick_product=[]
level1=[0]*10
level2=[0]*10
level3=[0]*10
level4=[0]*10
level5=[0]*10
for i in range(0,10):
  locate=random.randint(0,len(Product_Name_list)-1)
  pick_product.append(Product_Name_list[locate])
print(pick_product)

for j in range(len(pick_product)):
  Retail_item=Retail[Retail["Product Name"]==pick_product[j]]
  x=Retail_item[Retail_item["Unit Price"]<10]
  if x.Profit.empty==False:
    level1[j]=x.Profit.iloc[0]

  x=Retail_item[Retail_item["Unit Price"]>=10]
  x=x[x["Unit Price"]<100]
  if x.Profit.empty==False:
    level2[j]=x.Profit.iloc[0]

  x=Retail_item[Retail_item["Unit Price"]>=100]
  x=x[x["Unit Price"]<500]
  if x.Profit.empty==False:
    level3[j]=x.Profit.iloc[0]

  x=Retail_item[Retail_item["Unit Price"]>=500]
  x=x[x["Unit Price"]<1000]
  if x.Profit.empty==False:
    level4[j]=x.Profit.iloc[0]

  x=Retail_item[Retail_item["Unit Price"]>=1000]
  if x.Profit.empty==False:
    level5[j]=x.Profit.iloc[0]




print(level1)
print(level2)
print(level3)
print(level4)
print(level5)

Retail_summary_list=[level1,level2,level3,level4,level5]
Retail_summary_up=pd.DataFrame(Retail_summary_list,index=["0-10", "10-100","100-500" ,"500-1000", "1000+"],columns=pick_product)
Retail_summary_up

OneWayAnovaTestStats, OneWayAnovaPVal=f_oneway(Retail_summary_up.iloc[0,:],
                                               Retail_summary_up.iloc[1,:],
                                               Retail_summary_up.iloc[2,:],
                                               Retail_summary_up.iloc[3,:],
                                               Retail_summary_up.iloc[4,:])


print("P value is", OneWayAnovaPVal)
Siglevel=0.05
if OneWayAnovaPVal<=Siglevel:
    print("We reject H0. There exists a difference in the total profit for different shipping cost.")
else:
    print("We do not reject H0. We cannot conclude that there exists a difference in the total profit for different shipping cost.")

['Fellowes Smart Surge Ten-Outlet Protector, Platinum', 'Eldon Executive Woodline II Cherry Finish Desk Accessories', 'SAFCO Boltless Steel Shelving', 'Belkin MediaBoard 104- Keyboard', 'M70', 'Document Clip Frames', '8890', 'Xerox 1916', 'Crayola Anti Dust Chalk, 12/Pack', 'Deflect-o SuperTray™ Unbreakable Stackable Tray, Letter, Black']
[0, 0, 0, 0, 0, 73.33, 0, 0, -2.31, 0]
[684.9, 78.98, 0, -101.41, 0, 0, 0, 1012.67, 0, 339.58]
[0, 0, -609.09, 0, -506.308, 0, 553.356, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
P value is 0.10047008885077253
We do not reject H0. We cannot conclude that there exists a difference in the total profit for different shipping cost.